<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @*    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
</head>

<body>
    <div class="container-fluid">

       @* <div class="masthead">

            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#master-nav-wrapper" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">DonnWeb</a>
                </div>
                <div id="master-nav-wrapper">
                  
                </div>

            </nav>
@Html.Action("Index", "Navigation")
        </div>*@  
        <div id="body">



                @RenderSection("featured", required: false)

            <div class="row">
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div>

        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - More of me..</p>
                </div>
            </div>
        </footer>

        @*        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Content/Bootstrap")
        @Scripts.Render("~/Content/css")*@

        @Scripts.Render("~/bundles/jquery")
   @*    @Scripts.Render("~/bundles/fullpage")*@

       @Styles.Render("~/Content/bootstrapcss")
        @Scripts.Render("~/bundles/bootstrapjs")
        @Scripts.Render("~/bundles/libs")

        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.6/jquery.fullPage.css" />
       <link rel="stylesheet" href="/Content/css/DonnStyle.css" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.6/jquery.fullPage.js" ></script>

        @RenderSection("scripts", required: false)
    </div>
</body>


</html>
